<nav>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Home </a>

  <a routerLink="/perfil" routerLinkActive="active"> Perfil </a>

  <a routerLink="/proyectos-page" routerLinkActive="active"> Proyectos </a>

  <a routerLink="/proyectos-dos-page" routerLinkActive="active"> Proyectos 2 </a>

  <a [routerLink]="['/formulario/basic']"routerLinkActive="active">Formularios Básicos</a>

  <a [routerLink]="['/formulario/dynamic']"routerLinkActive="active">Formularios Dinámicos</a>

  <a [routerLink]="['/formulario/more']"routerLinkActive="active">Formularios Más</a>

</nav>
