<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- Campo: Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre del usuario"
        formControlName="nombre"
      />
      @if (formUtils.isValidField(myForm, 'nombre')) {
      <span class="form-text text-danger">
        {{ formUtils.getFieldError(myForm, 'nombre') }}
      </span>
      }
    </div>
  </div>

  <!-- Campo: Edad -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Edad</label>
    <div class="col-sm-9">
      <input
        type="number"
        class="form-control"
        placeholder="Edad del usuario"
        formControlName="edad"
      />
      @if (formUtils.isValidField(myForm, 'edad')) {
      <span class="form-text text-danger">
        {{ formUtils.getFieldError(myForm, 'edad') }}
      </span>
      }
    </div>
  </div>

  <!-- Campo: Correo -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Correo</label>
    <div class="col-sm-9">
      <input
        type="email"
        class="form-control"
        placeholder="Correo electrónico"
        formControlName="correo"
      />
      @if (formUtils.isValidField(myForm, 'correo')) {
      <span class="form-text text-danger">
        {{ formUtils.getFieldError(myForm, 'correo') }}
      </span>
      }
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float end">Guardar</button>
    </div>
  </div>
</form>
